form{
  display: inline-block
}

#plot {
  position: relative;
  height: 600px;
  left: 0;
  right: 0;
  margin-top: 5px;

}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* if space between cards */
  justify-content: center; /* if no space between cards */
}
.card {
  flex-basis: 300px;
  border: 1px solid black;
  min-height: 150px;
}


