<mat-card>
  <mat-card-title>
    Register New User
  </mat-card-title>
  <mat-card-content>
    <form id="formData" #userData="ngForm" (ngSubmit) = "registerUser(userData.value)">
      <p>
      <mat-form-field>
        <input matInput placeholder="firstname" name="firstname" type="text" ngModel> <!--ngModel takes the data from the input to the typescript file-->
        <br>
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
        <input matInput placeholder="lastname" name="lastname" type="text" ngModel> <!--ngModel takes the data from the input to the typescript file-->
        <br>
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
        <input matInput placeholder="email" name="email" type="email" ngModel> <!--ngModel takes the data from the input to the typescript file-->
        <br>
      </mat-form-field>
      </p>
      <mat-form-field>
        <input matInput placeholder="password" name="password" type="text" ngModel> <!--ngModel takes the data from the input to the typescript file-->
        <br>
      </mat-form-field>
      <p>
        <input type="submit" value="Register" mat-Button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
